<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">
  <div class="container">
    <header>
      <% include ../partials/nav %>
    </header>

    <h2>Welcome to store locator!</h2>
    <main>
      <div class="row">

      </div>
    </main>
  
    <footer>
      <p class="text-center"> All rights reserved - &copy; </p>
      <div class="row">
        <% include ../partials/footer %>
      </div>
    </footer>
  </div>
</body>
</html>